<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="/img/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems" aria-controls="navbarItems" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarItems">
    <div class="navbar-nav">
      <a id="allDiners" class="nav-item nav-link m-4" href="/diners">Diners</a>
      <a id="allSodas" class="nav-item nav-link m-4" href="/sodas">Sodas</a>
    </div>
  </div>
</nav>